<footer class="site-footer">
  <section>
    <p style="text-align: center; font-size: 12pt;">
      <b>
      Suggested Citation:</b> Hardy, Spencer, Michael T. Hallworth, Mark Ferguson, Nathaniel Sharp, JasonLoomis, Emily Anderson, Kent McFarland. 2022
      <br>
      The State of Vermont’s Wild Bees 2022. https://stateofbees.vtatlasoflife.org/. DOI: <a href="https://doi.org/10.5281/zenodo.7261316">https://doi.org/10.5281/zenodo.7261316</a> Accessed: {{ now| time.Format ":date_short" }}
      </b>
    </p>

  <p style="font-size: 12pt">
    <a href="https://vtatlasoflife.org/SOBees_2022/State_Of_Bees_Methods.html" target="blank_"><u>Methods </u></a>|
    <a href="https://acknowledgements.stateofbees.vtatlasoflife.org" target="blank_"><u>Acknowledgements</u></a>|
    <a href="https://val.vtecostudies.org/projects/vtbees/" target="blank_"><u>Learn More</u></a>
  </p>
  <br>
  </section>
  <div class="inner">
    <section>{{ echoParam .Site.Params "hidebyline" }}</section>
    {{ if ne .Site.Params.hidedesignbyline true }}
      <section>
        <p style="text-align:center"><b>Partners and Funders:</b><br></p>
        <!-- VT Fish and Wildlife -->
        <a href=https://vtfishandwildlife.com/ target=blank_><img src="https://stateofbees.vtatlasoflife.org/images/VFW-Logo-RGB_transparent-background_0.png" style="height:50px; width:50px; margin:0; padding-right:10px"></a>
        <!-- USFWS Missisquoi National Wildlife Refuge -->
        <a href="https://www.fws.gov/refuge/missisquoi" target=blank_><img src="https://stateofbees.vtatlasoflife.org/images/usfws.svg" style="height:50px; width:50px; padding-right:10px"></a>
        <!-- UVM Apis Fund -->
        <a href="https://www.uvm.edu/gund/apis-fund" target=blank_><img src="https://stateofbees.vtatlasoflife.org/images/UVM-Apis-Fund.jpg" style="height:50px; width:120px; padding-right:10px;"></a>
        <!-- UVM (Gund Institute) -->
        <a href="https://www.uvm.edu/gund" target=blank_><img src="https://stateofbees.vtatlasoflife.org/images/UVM-GUND22-Logo.jpg" style="height:50px; width:60px; padding-right:10px;"></a>
        Sarah K. de Coizart Perpetual Charitable Trust
        <br>
      </section>

      {{ with .Site.Params.copyright }}
      <section class="copyright">{{ . | markdownify }}</section>{{ end }}
      {{ end }}
  </div>

<!-- Google tag (gtag.js) added by VCE This si the landingPage stream -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EGQH57H0XF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-EGQH57H0XF');
</script>

</footer>
